<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Użytkownika</title>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link rel="stylesheet" href="/static/css/dashboard-user.css?v={{ timestamp }}" /></head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<body>
  <div class="mainContainer">
    <div class="header">
      <h1>Twoje Głosowania</h1>
      <div id="logoutBtn" class="btn"><img src="/static/images/logout.svg" alt="wyloguj" /></div>
    </div>
    <h2>Nowe Głosowania</h2>
    <div id="newPolls"></div>

    <h2>Wypełnione Głosowania</h2>
    <div id="votedPolls"></div>

    <!-- Modal -->
    <div class="modal" id="pollModal">
      <div class="modalContainer">
        <div class="modal-header">
        <h2 id="modalTitle">Ankieta</h2>
      </div>
      <div class="formContainer">
        <div id="modalForm"></div>
          <div class="formFooter">
            <div id="closeBtn" class="btn">
              <img src="/static/images/delete.svg" alt="x" />
            </div>


            <div id="submitBtn" class="btn">
              <img src="/static/images/create.svg" alt="V" />
            </div>
          </div>
      </div>
      </div>

    </div>
  </div>
  <script type="module" src="/static/js/api.js?v={{ timestamp  }}"></script>
  <script type="module" src="/static/js/vote.js?v={{ timestamp  }}"></script>
</body>
</html>
